@page
@model RestReviewSystem.Pages.CustomerReviews.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerReview.CustomerReviewId" />
            <div class="form-group">
                <label asp-for="CustomerReview.CustomerId" class="control-label"></label>
                <select asp-for="CustomerReview.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerReview.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerReview.RestaurantId" class="control-label"></label>
                <select asp-for="CustomerReview.RestaurantId" class="form-control" asp-items="ViewBag.RestaurantId"></select>
                <span asp-validation-for="CustomerReview.RestaurantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerReview.Review" class="control-label"></label>
                <textarea asp-for="CustomerReview.Review" class="form-control"></textarea>
                <span asp-validation-for="CustomerReview.Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerReview.Rating" class="control-label"></label>
                <input asp-for="CustomerReview.Rating" class="form-control" />
                <span asp-validation-for="CustomerReview.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
