@page
@model RestReviewSystem.Pages.ReviewCategories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ReviewCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReviewCategory.CustomerReviewId" class="control-label"></label>
                <input asp-for="ReviewCategory.CustomerReviewId" class="form-control" />
                <span asp-validation-for="ReviewCategory.CustomerReviewId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewCategory.FoodQuality" class="control-label"></label>
                <input asp-for="ReviewCategory.FoodQuality" class="form-control" />
                <span asp-validation-for="ReviewCategory.FoodQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewCategory.Service" class="control-label"></label>
                <input asp-for="ReviewCategory.Service" class="form-control" />
                <span asp-validation-for="ReviewCategory.Service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewCategory.Cleanliness" class="control-label"></label>
                <input asp-for="ReviewCategory.Cleanliness" class="form-control" />
                <span asp-validation-for="ReviewCategory.Cleanliness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
