@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<h1 style="text-align:center;font-family:Cambria;padding-top:100px">@ViewData["Title"]</h1>
<table class="table">
    <thead style="font-family: Cambria; color: darkslategray">
        <tr>
            <p style="font-family:Cambria">
                About Cafe Advisor, the world's largest food guidance platform*, helps hundreds of millions of people each month**
                to choose where to dine, from planning to booking a table. Foodies across the globe use the Cafe Advisor site
                and app to discover where to eat based on guidance from those who have been there before. With more than 934 million
                reviews and opinions of nearly 8 million businesses, foodies turn to Cafe Advisors to find best deals on booking
                experiences, reserve tables at delicious restaurants and discover more. As a restaurant guidance company available
                in 43 markets and 22 languages, Cafe Advisor makes your decisions easy no matter the cuisine type.
            </p>



        </tr>
        <tr>
        <h1 style="color: black; text-align: center; font-family: Cambria">Meet Our Team</h1>
        
        </tr>
        <tr>
            <td>

                <img src="~/Images/OurTeam/Prafull.png" />
            </td>
            <td>
            <h4>Prafull More</h4>
            <h6>President and CEO</h6>
            <p>
                Prafull co-founded Cafeadvisor in 2000 with the mission to help travelers around the world plan and book the perfect Cafe.
                Under his leadership, Cafeadvisor has grown into the largest travel site in the world.
                As CEO, Prafull has led the growth of Cafeadvisor, Inc., which includes 24 other travel media brands that operate in 48
                markets worldwide.
                Prior to co-founding Cafeadvisor, Prafull was president of CDS, Inc., an independent software vendor, and prior to that, was co-founder and vice president of engineering of CenterLine Software. Prafull co-founded Cafeadvisor in 2000 with the mission to help travelers around the world plan and book the perfect meal. Under his leadership, Cafeadvisor has grown into the largest travel site in the world. As CEO, Prafull co-founded Cafeadvisor in 2000 with the mission to help travelers around the world plan and book the perfect meal. Under his leadership, Cafe Advisor has grown into the largest travel site in the world.
            </p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Images/OurTeam/Sehar - Copy.jpeg" />
            </td>
            <td>
            <h4>Sehar Nagpal</h4>
            <h6>Chief Financial Officer and Chief Executive, Viator, TheFork and Cruise Critic</h6>
            <p>
                Sehar is responsible for overseeing Cafeadvisor's global finance operations including accounting, financial planning & analysis, investor relations, tax, and corporate development. She also serves as the chief executive for our Viator, TheFork and Cruise Critic businesses.
                Sehar previously served as executive vice president and chief financial officer of Cimpress N.V., formerly known as Vistaprint N.V. where she had similar responsibilities. Prior to joining Cimpress as vice president of corporate strategy in 2009, Sehar was a founder and director of two corporate finance and management consulting firms, Manifold Partners and ThreeStone Ventures Limited.
            </p></td>
        </tr>

        <tr>
            <td>
                <img src="~/Images/OurTeam/jayanth.png" />
               
            </td>
            <td>
            <h4>Jayanth Chowdary Bandi</h4>
            
            <h6>Chief Financial Officer and Chief Executive, Viator, TheFork and Cruise Critic</h6>
            <p>
                Jayanth has responsibility for all of the legal activities of Tripadvisor, Inc. Prior to assuming his role as General Counsel in August 2011, Jayanth held various positions at Expedia, Inc., most recently as Vice President, Associate General Counsel since February 2006, where he had primary responsibility for the legal aspects of the company's mergers and acquisitions and other transactional work, along with the global Expedia brand, and managed a team that provided legal support for various Expedia brands, including Tripadvisor and Hotwire, in addition to privacy and trademarks across Expedia, Inc
            </p></td>
        </tr>
        
    </thead>
    <tbody>
    </tbody>
</table>
