@page
@model RestReviewSystem.Pages.HelpModel
@{
}

<h1 style="text-align:center;font-family:Cambria;padding-top:100px">@ViewData["Title"]</h1>
<p>
    <h3>Restaurant Review System</h3>



    This website application will help customers discover the best rated food joints, cafes and restaurants all across the globe.
</p>
<table class="table">
    <thead style="font-family: Cambria; color: darkslategray">
        
        <tr>
            <h1 style="color: black; text-align: center; font-family: Cambria">How to Navigate</h1>

        </tr>
        <tr>
            The Key Functionalitites of our application are as follows:
        </tr>
        <tr>
            <td>

                <img src="~/Images/Help/Customerlist.jpg" style="width:800px; height:300px" />
            </td>
        </tr>
        <tr>
            <td>

                <img src="~/Images/Help/Restaurantlist.jpeg" style="width:800px; height:300px" />
            </td>
        </tr>
        <tr> <td>

            <img src="~/Images/Help/Reviews.jpg" style="width:800px; height:300px" />
        </td>
        </tr>
        
        <tr>
            <td>

            <img src="~/Images/Help/ReviewCat.jpg" style="width:800px; height:300px" />
        </td>
        </tr>

    </thead>
    <tbody>
    </tbody>
</table>
