@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Last updated on October 05, 2021</p>
<p>
    This policy applies only to the information Cafe Advisor collects through its Services, in email, text and other electronic communications sent through or in connection with its Services.

    This policy DOES NOT apply to information that you provide to, or that is collected by, any third-party, such as restaurants at which you make reservations and/or pay through Cafe Advisor's Services and social networks that you use in connection with its Services. Cafe Advisor encourages you to consult directly with such third-parties about their privacy practices.

    Please read this policy carefully to understand Cafe Advisor's policies and practices regarding your information and how Cafe Advisor will treat it. By accessing or using its Services and/or registering for an account with Cafe Advisor, you agree to this privacy policy and you are consenting to Cafe Advisor's collection, use, disclosure, retention, and protection of your personal information as described here. If you do not provide the information Cafe Advisor requires, Cafe Advisor may not be able to provide all of its Services to you.

    If you reside in a country within the European Union/European Economic Area (EAA), Cafe Advisor Media Portugal, Unipessoal LDA , located at Avenida 24 de Julho, N 102-E, 1200-870, Lisboa, Portugal, will be the controller of your personal data provided to, or collected by or for, or processed in connection with our Services;

    If you reside in United States of America, Cafe Advisor USA LLC, located at 7427 Matthews Mint Hill Rd., STE 105, #324, Mint Hill, NC 28227 will be the controller of your personal data provided to, or collected by or for, or processed in connection with our Services;
</p>
